<!DOCTYPE html>
<html lang="en">
  <head>
    <title>登入</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/color-modes.css" rel="stylesheet" />
  </head>

  <body style="background-color: #f4f4f4">
    <!-- 頂部 -->
    <header class="p-3 mb-3 w-100 border-bottom position-absolute">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
        >
          <!-- LOGO -->
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
          >
            <img
              class="rounded-3 me-2"
              src="/assets/img/base/logo_50x50.png"
              alt="SVG"
              width="30"
              height="30"
            />
            <span class="fs-5 fw-semibold">YU-PIN 優品購物網</span>
          </a>

          <!-- 會員管理 -->
          <div class="dropdown text-end">
            <a href="/" class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-return-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"
                />
              </svg>
              返回YuPin優品首頁
            </a>
          </div>
        </div>
      </div>
    </header>
    <!--  -->
    <main class="container">
      <div
        class="row justify-content-center align-items-center"
        style="height: 100vh"
      >
        <img
          class="col-6 h-75 border rounded-3 shadow p-0"
          src="/assets/img/base/logo.png"
          height="100%"
        />
        <div
          class="col-6 h-75 border rounded-3 shadow p-0 d-flex justify-content-center align-items-center"
        >
          <form class="w-50">
            <div class="text-center mb-3">
              <div class="fs-1">註冊會員</div>
              <div class="fs-6">
                已經擁有優品帳號了嗎? <a href="/login">立即登入</a>
              </div>
            </div>

            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label"
                >輸入電子信箱</label
              > -->
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="請輸入電子信箱"
              />
            </div>
            <div class="mb-3">
              <!-- <label for="exampleInputPassword1" class="form-label"
                >輸入密碼</label
              > -->
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="請輸入密碼"
              />
            </div>
            <div class="mb-3">
              <!-- <label for="exampleInputPassword1" class="form-label"
                >確認密碼</label
              > -->
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="請確認密碼"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-3 w-100">
              註冊
            </button>

            <div>
              註冊帳號，即表示您已閱讀並同意 優品購物網
              <a href="#">會員條款</a>
              與
              <a href="#">客戶隱私權條款</a>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- JavaScript Libraries -->
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/color-modes.js"></script>
  </body>
</html>
