<!DOCTYPE html>
<html lang="en">
  <head>
    <title>登入</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/color-modes.css" rel="stylesheet" />
  </head>

  <body style="background-color: #f4f4f4">
    <header>
      <!-- place navbar here -->
    </header>
    <main class="container">
      <div
        class="row justify-content-center align-items-center"
        style="height: 100vh"
      >
        <img
          class="col-6 h-75 border shadow p-0"
          src="/assets/img/base/logo.png"
          height="100%"
        />
        <div
          class="col-6 h-75 border shadow p-0 d-flex justify-content-center align-items-center"
        >
          <form class="w-50">
            <div class="text-center mb-3">
              <div class="fs-1">註冊會員</div>
              <div class="fs-6">
                已經擁有優品帳號了嗎? <a href="/login">立即登入</a>
              </div>
            </div>

            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label"
                >輸入電子信箱</label
              > -->
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="請輸入電子信箱"
              />
            </div>
            <div class="mb-3">
              <!-- <label for="exampleInputPassword1" class="form-label"
                >輸入密碼</label
              > -->
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="請輸入密碼"
              />
            </div>
            <div class="mb-3">
              <!-- <label for="exampleInputPassword1" class="form-label"
                >確認密碼</label
              > -->
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="請確認密碼"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-3 w-100">
              註冊
            </button>

            <div>
              註冊帳號，即表示您已閱讀並同意 優品購物網
              <a href="#">會員條款</a>
              與
              <a href="#">客戶隱私權條款</a>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- JavaScript Libraries -->
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/color-modes.js"></script>
  </body>
</html>
